
/* .textContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: DM Sans;
  font-size: 64px;
  font-weight: bold;
} */

.mainContainer {
  display: grid;
  /* gap: 48px; */
  justify-content: center;
  align-items: center;
  
}
